@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "~react-image-gallery/styles/css/image-gallery.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Encode Sans', 'sans-serif';
  }
}

@layer components {
  .input {
    @apply p-[20px] pl-[60px] rounded-[15px] font-medium leading-5 border border-solid border-bwv-light-gray w-full placeholder:text-bwv-gray focus:border-bwv-accent focus:outline-0
  }

  .input-small {
    @apply p-4 pl-[60px] rounded-[15px] font-medium leading-5 border border-solid border-bwv-light-gray w-full placeholder:text-bwv-gray focus:border-bwv-accent focus:outline-0
  }

  .input-dark {
    @apply bg-bwv-white-dirty
  }

  .input-password {
    @apply input pr-[54px]
  }

  .input-password.small {
    @apply input-small pr-[54px]
  }

  .input-error {
    @apply border-bwv-error focus:border-bwv-error shadow-error
  }

  .input-wrapper-error {
    @apply mb-10
  }

  .input-error-message {
    @apply absolute bottom-[-32px] left-0 text-bwv-error text-[14px] font-semibold
  }

  .nav-link:hover .nav-link-icon,
  .nav-link .nav-link-hover-icon {
    @apply !hidden
  }
  .nav-link:hover .nav-link-hover-icon {
    @apply !block
  }

  .active-nav-link {
    @apply bg-bwv-accent text-white
  }
  .active-nav-link .nav-link-hover-icon,
  .active-nav-link:hover .nav-link-hover-icon {
    @apply !block
  }
  .active-nav-link .nav-link-icon {
    @apply !hidden
  }

  .status-indicator {
    @apply inline-grid grid-flow-col-dense gap-3 items-center px-[12px] py-[6px] text-[#B8B8B8] bg-[#F8F8F8] rounded-[12px]
  }

  .table-cell {
    @apply py-4 px-1 border-b border-[#f1f1f1] w-[1%] text-left first:pl-8 last:pr-8
  }

  .active-sub-nav-link {
    @apply border-b-2 border-b-bwv-accent
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .icon {
    @apply
    cursor-pointer
    w-9
    h-9
    hover:bg-bwv-gray
    hover:bg-opacity-10
    flex
    items-center
    justify-center
    rounded-full
    transition
    ease-out;
  }

  .image-gallery-thumbnail.active,
  .image-gallery-thumbnail:focus,
  .image-gallery-thumbnail:hover {
    @apply !border-bwv-accent
  }
}